.pagination {
  display: flex;
  justify-content: center;
  align-items: baseline;
  list-style: none;
  padding: 0;
  margin-top: 45px;
  color: rgba(25, 155, 215, 0.5);
  font-size: 20px;
  font-weight: 500;
  text-shadow: 0px 2px 15px rgba(25, 155, 215, 0.4);
}

.pagination li {
  cursor: pointer;
  padding: 2px;
  transition: all 0.3s ease-in-out;
}

.pagination li:not(:last-child) {
  margin-right: 0.9rem;
}

.pagination li.active {
  font-weight: 800;
  font-size: 22px;
  color: #199bd7;
}
