.input {
  display: flex;
  justify-content: center;
  margin: 7px auto 50px;
}

.textInput {
  padding: 10px;
  font-size: 16px;
  color: #333;
  border: 2px solid #199bd7;
  border-radius: 6px;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.textInput:hover,
.textInput:focus {
  border-color: 3px solid #199bd7;
  box-shadow: 0px 2px 15px rgba(25, 155, 215, 0.4);
}

.textInput::placeholder {
  color: #a5a4a4;
}
